table{
    margin-top:100px; 
    margin-left:auto;
    margin-right:auto;
}
tr{
    display: flex;
    flex:nowrap;
    width: 100%;
}
th{
    height:28px;
    width: 28px;
}
table th{
    display: flex;
    flex:nowrap;
    justify-content: space-between;
}
#btn{
    margin:15px 0 0 45%;
    justify-content: center;
}
.black{
    background-color:black;
}